.center {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 400px;
}
 
ion-content{
    padding-left: 10px; 
    padding-right: 10px;
}

ion-button{
    padding-left: 10px; 
    padding-right: 10px;
    padding-top: 5px;
}