<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title1">Perfil</ion-title>
    <ion-button color="transparent" slot="end" shape="round" (click)="mudarTema()"><ion-icon name="moon"></ion-icon></ion-button>
    <!-- <ion-icon slot="end" name="moon"></ion-icon>
    <ion-toggle color="dark" slot="end" [enableOnOffLabels]="true" (click)="mudarTema()" [checked]="true"></ion-toggle> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <div class="center">
      <img class="profile-photo" src="assets/icon/dio.jpg" alt="varejaco.png">
    </div>
  </ion-item>
  
  <ion-list>
    <ion-item *ngFor="let page of appPages" [routerLink]="[page.url]" detail>
      <ion-icon slot="start" [name]="page.icon" slot="start" [color]="page.color"></ion-icon>
      <ion-label>{{page.title}}</ion-label>
    </ion-item>
  </ion-list>

  <ng-template [ngIf]="isDev">
    <ion-item>
      <ion-title> Menu Dev</ion-title>
    </ion-item>

    <ion-list>
      <ion-item *ngFor="let page of appDevPages" [routerLink]="[page.url]" detail>
        <ion-icon slot="start" [name]="page.icon" slot="start" [color]="page.color"></ion-icon>
        <ion-label>{{page.title}}</ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>