<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title class="title1">Meus favoritos</ion-title>
    <ion-button color="transparent" slot="end" shape="round" (click)="mudarTema()"><ion-icon
        name="moon"></ion-icon></ion-button>
    <!-- <ion-icon slot="end" name="moon"></ion-icon>
    <ion-toggle color="dark" slot="end" [enableOnOffLabels]="true" (click)="mudarTema()" [checked]="true"></ion-toggle> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor="let promocao of promocaos">
      <ion-item [routerLink]="['/detalhes-promocao/', promocao.idPromocao]" detail>
        <!-- <ion-thumbnail slot="start">
          <img [src]="promocao.foto" />
        </ion-thumbnail> -->
        <ion-thumbnail slot="start">
          <img src="https://i1.sndcdn.com/avatars-253MmMf9QZzxVBJi-rvlyeg-t500x500.jpg" />
        </ion-thumbnail>
        <ion-label>
          <p class="name">
            <b>
              {{promocao.nome}}
            </b>
          </p>
          <p class="market">
            {{findName(promocao.idSupermercado)}}
          </p>
          <h2 class="value">
            R${{promocao.valor}}
          </h2>
          <p class="relevance">
            {{promocao.relevancia}}%
          </p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>