<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title1">Pesquisar</ion-title>
    <ion-button color="transparent" slot="end" shape="round" (click)="mudarTema()"><ion-icon
        name="moon"></ion-icon></ion-button>
    <!-- <ion-icon slot="end" name="moon"></ion-icon>
    <ion-toggle color="dark" slot="end" [enableOnOffLabels]="true" (click)="mudarTema()" [checked]="true"></ion-toggle> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formGroup" (ngSubmit)="find()">
    <ion-item>
      <h1>
        Filtros:
      </h1>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Categoria</ion-label>
      <ion-select interface="popover" formControlName="categoria" name="categoria" label-placement="fixed"
        placeholder="Selecione uma categoria">
        <ion-select-option *ngFor="let categoria of categorias" value="{{categoria.idCategoria}}">{{categoria.nome}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Supermercado</ion-label>
      <ion-select interface="popover" formControlName="supermercado" name="supermercado" label-placement="fixed"
        placeholder="Selecione um supermercado">
        <ion-select-option *ngFor="let supermercado of supermercados"
          value="{{supermercado.idSupermercado}}">{{supermercado.nome}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nome da promoção</ion-label>
      <ion-input clearInput type="text" formControlName="searchField" name="searchField"
        placeholder="Buscar todas as promoções"></ion-input>
    </ion-item>

    <ion-button type="submit" color="intense-red" expand="block">
      <ion-icon name="search" color="white" slot="start"></ion-icon>
      Pesquisar
    </ion-button>
  </form>

  <ion-list>
    <ion-item-sliding *ngFor="let promocao of promocaos">
      <ion-item [routerLink]="['/detalhes-promocao/', promocao.idPromocao]" detail>
        <ion-thumbnail slot="start">
            <ion-img class="center" src="{{promocao.foto}}" alt="promocao.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <p class="name">
            <b>
              {{promocao.nome}}
            </b>
          </p>
          <p class="market">
            {{findName(promocao.idSupermercado)}}
          </p>
          <h2 class="value">
            R${{promocao.valor}}
          </h2>
          <p class="relevance">
            {{promocao.relevancia}}%
          </p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>